*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #351886;
    width: 100%;
    height: 100%;
    overflow-y: hidden;

}
header{
    background-color: black;
    padding: 5px;
    margin: 10px;
    border: 5px solid white;
}
.instructions_container{
    width: 700px;
    height: 420px;
    padding: 5px;
    border: 5px solid white;
    margin: auto;

}
.slide_button{

    text-align: center;
    position: relative;
    left: 45%;
    top: 10%;
    background-color: black;
    color: white;
    border: 4px solid white;
    border-radius: 20%;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;

}




.thinginbox{
    padding: 10px;
    font-size: 30px;
    color:white;
    text-align: center;
    margin:20px;
    font-family: 'Times New Roman', Times, serif;
    border: 5px solid #ffffff;
    height: 365px

}
#instructions{
    color: white;
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
    font-size: 50px;
    
}


#tobor_hand_instructions{
    position: relative;
    top: 27px;
    right: -15%;
    
}

#user_hand_instructions{
    position: relative;
    left: -15%;
    
}


